#page
  #sidebar
    %ul#sidebar-items
  #content
    #header
      tribality
    #pane
      .cta
        \#tribesec
      irc @ 
      %a{:href => "irc://tribal.strangled.net/tribe"}
        irc://tribal.strangled.net/tribe
      %br/
      %br/
      note: services are not configured.
      %br/
      sorry. no username or channel registration
      %br/
      will probably be fixed upon the move to a dedicated host
      %hr/
      nothing is permanent.
      %br/
      nobody exists for a reason.
      %br/
      nobody belongs anywhere.
      %br/
      everone dies eventually.
      %br/
      %br/
      the answer is, don't question it.
      %br/
      %br/
      do what thou wilt shall be the word of the law
      %br/
      %br/
      nothing is forbidden.
      %br/
      everything is permitted.
      %br/
      %hr/
      %br/
      #devlinks
        interesting shit
        %br/ 
        %ul
          %li
            %a{:href => "http://github.com/tribesec"}
              tribesec github
          %li
            %a{:href => "http://github.com/ozmodic"}
              ozmodic (my github)
          %li
            %a{:href => "http://github.com/8dx"}
              8dx (my old github)
          %li
            %a{:href => "/contact"}
              contact me or whatever
   
    :javascript
      $('#about_env_link').click(function() {
          $('#about-content').slideToggle('fast', function() {
              // ok
          });
          return( false );
      });
