#page
  #sidebar
    %ul#sidebar-items
  #content
    #header
      tribality
    #pane
      real nigga hours 4 lyfe
      %br/
      %a{:href => "irc://tribal.strangled.net/tribe"}
        irc://tribal.strangled.net/tribe
      %br/
      %br/
      note: services are not configured.
      %br/
      %hr/
      nothing is permanent.
      %br/
      nobody exists for a reason.
      %br/
      nobody belongs anywhere.
      %br/
      everone dies eventually.
      %br/
      %br/
      the answer is, don't question it.
      %br/
      %br/
      do what thou wilt shall be the word of the law
      %br/
      %br/
      nothing is forbidden.
      %br/
      everything is permitted.
      %br/
    :javascript
      $('#about_env_link').click(function() {
          $('#about-content').slideToggle('fast', function() {
              // ok
          });
          return( false );
      });
